:root {
	--bg-color: #f5f5f5;
	--bg-subtle: #1a1a1a05;
	--container-bg: #ffffff;
	--text-color: #000000;
	--border-color: #ddd;
	--hover-bg: #f8f9fa;
	--link-color: #0366d6;
	--shadow-color: rgba(0, 0, 0, 0.1);

	--bg-success: #7DDF75;
	--border-success: #65B560;
}

[data-theme="dark"] {
	--bg-color: #1a1a1a;
	--bg-subtle: #ffffff05;
	--container-bg: #2d2d2d;
	--text-color: #ffffff;
	--border-color: #404040;
	--hover-bg: #363636;
	--link-color: #58a6ff;
	--shadow-color: rgba(0, 0, 0, 0.3);

	--bg-success: #70c46a;
	--border-success: #5da856;
}

body {
	font-family: Arial, sans-serif;
	margin: 20px;
	background-color: var(--bg-color);
	color: var(--text-color);
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	background-color: var(--container-bg);
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 4px var(--shadow-color);
}

/* Header styles */
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.info {
	display: flex;
	align-items: center;
	gap: 8px;
}

.path,
.total-size,
#theme-toggle {
	padding: 10px;
	background-color: var(--hover-bg);
	border-radius: 4px;

	font-family: monospace;
}

.path {
	word-break: break-all;
}

/* Table styles */
table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

th,
td {
	padding: 12px;
	text-align: left;
	border-bottom: 1px solid var(--border-color);
}

tr:hover {
	background-color: var(--hover-bg);
}

.actions-container {

	display: flex;
	gap: 8px;

	.shell-link {
		cursor: pointer;

		background-color: var(--bg-subtle);
		border-radius: 4px;
				
		border: 1px solid var(--border-color);
		outline: none;

		display: grid;
		place-items: center;

		svg {
			stroke: var(--text-color);
		}
	}
}

/* Header sorting */
.th-content {
	display: flex;
	align-items: center;
	gap: 4px;
	cursor: pointer;
}

.sort-indicator {
	display: none; /* Hide by default */
}

/* Only show the sort indicator when the column is being sorted */
th[data-sort] .sort-indicator {
	display: flex;
}

/* Hide all sort icons by default when sorting is active */
th[data-sort] .sort-indicator svg {
	display: none;
}

/* Only show the relevant arrow based on sort direction */
th[data-sort="asc"] .sort-indicator svg:first-child,
th[data-sort="desc"] .sort-indicator svg:last-child {
	display: block;
}

/* Links and buttons */
.link {
	display: flex;
	align-items: center;
	gap: 8px;
	color: var(--link-color);
	text-decoration: none;
}

.link:hover {
	text-decoration: underline;
}

.file-entry {
	display: flex;
	align-items: center;
	gap: 8px;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
	gap: 8px;
	padding: 8px 16px;
	background-color: #007bff;
	color: white;
	text-decoration: none;
	border-radius: 4px;
	transition: background-color 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}

.button-icon {
	display: grid;
	place-items: center;

	width: fit-content;
	border-radius: 4px;
	padding: 8px;

	background-color: #007bff;
	color: white;

	transition: background-color 0.3s ease;
}

.button:hover, .button-icon:hover {
	background-color: #0056b3;
}


/* Icons */
.icon {
	width: 24px;
	height: 24px;
	min-height: 24px;
	min-width: 24px;
	fill: currentColor;
}

.small-icon {
	width: 16px;
	height: 16px;
	fill: currentColor;
}

.button .icon {
	fill: white;
}

/* Tooltip classes */
.tooltip-trigger {
    position: relative;
}

.tooltip-trigger:hover .tooltip {
    opacity: 1; 
    visibility: visible; 
    transition-delay: 0.5s; 
}

.tooltip {
    opacity: 0; 
    visibility: hidden; 
    position: absolute;
    top: 0;
    transform: translateY(calc(-100% - 12px));
    transition: all 150ms ease, visibility 0s 150ms; 
}

.tooltip span {
    background-color: var(--hover-bg);
    color: var(--text-color);
    white-space: nowrap;
    padding: 4px 8px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: large;
    opacity: 0;
    transition: opacity 150ms ease; 
}

.tooltip-trigger:hover .tooltip span {
    opacity: 1; 
}

.tooltip::after {
    content: '';
    position: absolute;
    bottom: -8px; 
    left: 50%;
    transform: translateX(-50%);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 4px solid var(--border-color); 
}

.tooltip-success span{
	color: white;
	background-color: var(--bg-success);
	border-color: var(--border-success);
}

.tooltip-success::after {
    border-top: 4px solid var(--border-success); 
}

/* Theme toggle */
#theme-toggle {
	border: none;
	cursor: pointer;
	color: var(--text-color);
	aspect-ratio: 1/1;
}

#theme-toggle:hover {
	background-color: var(--hover-bg);
}

.icon-light,
.icon-dark {
	display: none;
}
